<apex:page controller="EditTaskController">
<head>
	<title>Datasocks Creating Or Updating Task</title>	
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
	 
	<apex:form >
		<apex:outputLabel value="Task Description"/>
		<br></br>
		<apex:inputField value="{!task.Name}"/>
		<br></br>
		<apex:outputLabel value="Deadline Date"/>
		<br></br>
		<apex:inputField value="{!task.Deadline__c}"/>
		<br></br>
		<apex:outputLabel value="Completion"/>
		<br></br>
		<apex:inputCheckbox value="{!task.Completed__c}"/>
		<br></br>
		<apex:commandButton action="{!loadList}" value="Save!"/>
	</apex:form>		
</body>
</apex:page>